<h1>Welcome to [Your Site’s Name]!</h1>
<p>Currently, our website is optimized for desktop use.</p>
<p>We are working to make the mobile experience better.</p>
<a href="/">Click here to continue to the website anyway</a>