{{#if navItems}}
    <nav class="nav" role="navigation">
        <div class="nav-block">
            <!-- logo -->
            <div class="logo">
                <a href="/">
                    <img src="/img/misc/logo.png" alt="Logo" class="logo">
                </a>
            </div>
            <div class="nav-space"></div>
            <ul class="nav-bar">
                {{#each navItems}}
                    <li class="nav-item">
                        <a href="{{this.link}}" class="nav-link">
                            <img src="{{this.image}}" alt="{{this.title}}" class="nav-item">
                        </a>
                    </li>
                    <div class="nav-space"></div>
                {{/each}}
            </ul>
        </div>
    </nav>
{{/if}}

<script>
    const screenHeight = window.innerHeight;
    console.log(screenHeight);
    const screenWidth = window.innerWidth;
    console.log(screenWidth);
    const navItemCount = 4;
    const navSpaceSize = (screenWidth / 24);
    const x = screenWidth;
    const y = screenHeight;
    const n = navItemCount;
    const s = navSpaceSize;

    function calculateSizes() {
        calculateNavSizes();
    }

    function calculateNavSizes() {
        const navBlockSizeHeight = (1/6)*y;
        const navBlockSizeWidth = x;

            const logoSizeHeight = (1/6)*y;
            const logoSizeWidth = (1/6)*x;

            const navBarSizeHeight = (1/6)*y;
            const navBarSizeWidth = (5/6)*x;

                const navSpaceSizeHeight = (1/6)*y;
                const navSpaceSizeWidth = s;

                const navItemSizeHeight = (1/6)*y;
                const navItemSizeWidth = ((((5/6)*x)-(s*(n+1)))/n);

        //update CSS variables
        //update nav-block
        document.documentElement.style.setProperty('--nav-block-size-height', `${navBlockSizeHeight}px`);
        document.documentElement.style.setProperty('--nav-block-size-width', `${navBlockSizeWidth}px`);
            //update logo
            document.documentElement.style.setProperty('--logo-size-height', `${logoSizeHeight}px`);
            document.documentElement.style.setProperty('--logo-size-width', `${logoSizeWidth}px`);
            //update nav-bar
            document.documentElement.style.setProperty('--nav-bar-size-height', `${navBarSizeHeight}px`);
            document.documentElement.style.setProperty('--nav-bar-size-width', `${navBarSizeWidth}px`);
                //update nav-space
                document.documentElement.style.setProperty('--nav-space-size-height', `${navSpaceSizeHeight}px`);
                document.documentElement.style.setProperty('--nav-space-size-width', `${navSpaceSizeWidth}px`);
                //update nav-item
                document.documentElement.style.setProperty('--nav-item-size-height', `${navItemSizeHeight}px`);
                document.documentElement.style.setProperty('--nav-item-size-width', `${navItemSizeWidth}px`);
    }

    // Calculate sizes on initial load and on window resize
    calculateSizes();
    window.addEventListener('resize', calculateSizes);
</script>