:root {
    /* nav-bar variables */
    --nav-bar-size-height: 0px;
    --nav-bar-size-width: 0px;

        --logo-size-height: 0px;
        --logo-size-width: 0px;

        --nav-space-size-height: 0px;
        --nav-space-size-width: 0px;

        --nav-item-size-height: 0px;
        --nav-item-size-width: 0px;

    /* space-block variables */
    --space-block-size-height: 0px;
    --space-block-size-width: 0px;

    /* name-block variables */
    --name-block-size-height: 0px;
    --name-block-size-width: 0px;

        --letter-end-space-size-height: 0px;
        --letter-end-space-size-width: 0px;

        --letter-size-height: 0px;
        --letter-size-width: 0px;

        --letter-space-size-height: 0px;
        --letter-space-size-width: 0px;
}
  
/* nav variables */
.nav-block {
    height: var(--nav-block-size-height);
    width: var(--nav-block-size-width);
}
    .nav-bar {
        height: var(--nav-bar-size-height);
        width: var(--nav-bar-size-width);
    }
        .logo {
            height: var(--logo-size-height);
            width: var(--logo-size-width);
        }
        .nav-space {
            height: var(--nav-space-size-height);
            width: var(--nav-space-size-width);
        }
        .nav-item {
            height: var(--nav-item-size-height);
            width: var(--nav-item-size-width);
        }

/* space variables */
.space-block {
    height: var(--space-block-size-height);
    width: var(--space-block-size-width);
}

/* name variables */
.name-block {
    height: var(--name-block-size-height);
    width: var(--name-block-size-width);
}
    .letter-end-space {
        width: var(--letter-end-space-size);
    }
    .letter {
        width: var(--letter-size);
    }
    .letter-space {
        width: var(--letter-space-size);
    }

/* font variables */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&family=Dawning+of+a+New+Day&family=Gwendolyn:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

/* fonts */
.nanumMyeongjo-light {font-family: 'Nanum Myeongjo', serif; font-weight: 400}
.gwendolyn-bold {font-family: 'Gwendolyn', cursive; font-weight: 700}
.archivoNarrow-bold {font-family: 'Archivo Narrow', sans-serif; font-weight: 500}

/* colors */
.color1 {
    background-color: yellow;
}
.color2 {
    background-color: greenyellow;
}
.color3 {
    background-color: #E2FDFF;
}
.color4 {
    background-color: cyan;
}

/* navbar */
.container-fluid {
    padding: 1rem;
}
.nav-content {
    padding: 1rem;
}
.nav-item:hover {
    color: black;
    background-color: #D1EAFF;
}
.navbar-logo img {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.d-flex {
    padding: 2rem;
    padding-left: 3rem;
}

/* basic tags */
p {
    padding: 2rem;
    padding-bottom: 0rem;
}
h1 {
    padding: 2rem;
}
/* structural elements */
.section-header {
    padding: 2rem;
    padding-top: 0rem;
}
.section-divider {
    padding: 1rem;
}
footer {
    padding: 2rem;
}

/* gallery */

.gallery-img img {
    object-fit: cover;
    height: 20rem;
    aspect-ratio: 1/1;
}

.card-img-top {
    object-fit: cover;
    height: 20rem;
    aspect-ratio: 1/1;
}

.card-text {
    padding: 2rem;
}

.img-thumbnail {
    height: 30rem;
    display: block;
    margin: auto;
}

.media-container {
    width: 300px;  /* Set your desired width */
    height: 300px;  /* Set your desired height */
    padding: 10px;  /* Uniform padding */
    overflow: hidden;  /* To handle excess content */
}

.media-container img, .media-container video {
    width: 100%; /* Scale to fill the container width */
    height: 100%; /* Scale to fill the container height */
    object-fit: cover; /* Cover the container while preserving aspect ratio */
}
